.cell {
    background-color: transparent;
    border-radius: 0;
    border: 15px solid #000000;
}

.activated {
    color: #ffb722 !important;
}

.off {
    color: #000000;
}

.background-component {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    background-color: #000000c2;
    color: #ffffff;
    font-family: monospace, sans-serif;
    @media (max-width: 600px) {
        font-size: 1em;
    }
    @media (min-width: 600px) {
        font-size: 1.2em;
    }
    @media (min-width: 1200px) {
        font-size: 1.3em;
    }
}

input,
button {
    background-color: #00000011;
    color: #ffffff;
    font-family: monospace, sans-serif;
    font-size: 1.5em;
    max-width: 1.5em;
    min-width: 1.5em;
    max-height: 1.5em;
    min-height: 1.5em;
    border: none;
    position: display;

}

